.exercise-item {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans";
}

.exercise-item__name {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #000;
  text-align: end;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-item__info {
  display: flex;
  justify-content: space-between;
}

.exercise-item__count {
  font-size: 10px;
  color: #919cad;
  font-weight: 700;
  text-align: start;
}

.exercise-item__sets {
  font-size: 10px;
  color: #95a6b7;
  width: 115px;
  text-align: end;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
