.workout-card {
  background: white;
  border-radius: 6px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 8px;
  font-family: "Open Sans";
}

.workout-card__title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: #5a57cb;
  margin-bottom: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workout-card__exercises {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 30px;
}

.empty-text {
  font-size: 13px;
  color: #95a6b7;
  text-align: center;
  margin: auto 0;
}
